/* This page is organized along two mental schemas. */
/* Material that impacts the whole page comes before material that impacts individual sections only */
/* But sections appear the order they appear on the page moving from top to bottom */


/*Scroll behavior coherently brings the page up or down to the correct spot*/
/*The HTML background color maintains a consistent color ever if someone on a mac scrolls up or down the page too far*/
html, body {
  scroll-behavior: smooth;
  background-color: #F8F8F8;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0%; /* This gets rid of a small line that appears on the left hand side of the screen, like everything has slight padding */
}

/* Transparent Navigation ID Holder to make sure header doesn't block text when using navigation buttons */

a.anchor {
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}

/* NAVIGATION BAR */

    /* On desktop, navigation bar remains fixed at the top of the screen */
    /* Click the logo will bring the user back to the top of the page */
    /* Clicking other navigation buttons will bring the user to the section indicated*/

    .navigationbar { /* container where site navigation buttons sit */
      text-align: center;
      color: black;
      z-index: 1;
      position: fixed;
      top: 0;
      width: 100%;
      background-color: #F8F8F8;
      overflow: hidden;
      padding-top: 1%;
    }

    .nav-btns button {
      color: black; 
      cursor: pointer;
      float: center; 
      font-family: "Fjord One"; 
    }

    /* Add underline on hover */
    .nav-btns button:hover {
      text-decoration: underline;
    }

    #nav_1 { 
      color: black;
      cursor: pointer; /* Pointer/hand icon */
      margin-left: 2.5%;
      margin-bottom: .5%;
      padding: .25%;
      margin-top: .25%;
      float: left;
      width: 16%;
      padding-bottom: .05%;
    } 

    .img_logo {
      width: 100%;
      height: auto;
    }

    #nav_2 { 
      color: black;
      text-decoration: none;
      cursor: pointer; /* Pointer/hand icon */
      font-family: "Montserrat"; 
      font-size: 120%; 
      float: left;
      margin-left: 6%;
      margin-top: 3%;
      padding: .25%;
      padding-bottom: .05%;
    } 
    #nav_3 { 
      color: black;
      text-decoration: none;
      cursor: pointer; /* Pointer/hand icon */
      font-family: "Montserrat"; 
      font-size: 120%; 
      float: left;
      margin-left: 8%;
      margin-top: 3%;
      padding: .25%;
      padding-bottom: .05%;
    }
    #nav_4 { 
      color: black;
      text-decoration: none;
      cursor: pointer; /* Pointer/hand icon */
      font-family: "Montserrat"; 
      font-size: 120%; 
      float: left;
      margin-left: 8%;
      margin-top: 3%;
      padding: .25%;
      padding-bottom: .05%;
    } 
    #nav_5 { 
      color: black;
      text-decoration: none;
      cursor: pointer; /* Pointer/hand icon */
      font-family: "Montserrat"; 
      font-size: 120%; 
      float: left;
      margin-left: 8%;
      margin-top: 3%;
      padding: .25%;
      padding-bottom: .05%;
    }
    #nav_6 { 
      color: black;
      text-decoration: none;
      cursor: pointer; /* Pointer/hand icon */
      font-family: "Montserrat"; 
      font-size: 120%; 
      float: left;
      margin-left: 8%;
      margin-top: 3%;
      padding: .25%;
      padding-bottom: .05%;
    }


    a#nav_1:hover, a#nav_1:active
    {
      text-decoration: underline;
    }
    a#nav_2:hover, a#nav_2:active
    {
      text-decoration: underline;
    }
    a#nav_3:hover, a#nav_2:active
    {
      text-decoration: underline;
    }
    a#nav_4:hover, a#nav_4:active
    {
      text-decoration: underline;
    }
    a#nav_5:hover, a#nav_5:active
    {
      text-decoration: underline;
    }
    a#nav_6:hover, a#nav_6:active
    {
      text-decoration: underline;
    }



/* This begins << after >> the navigation bar and is closed << before >> the footer */
.pagewidth { 
  width: 100%; /* Width of content box should remain the same despite zoom level */
  background-color: #203865;
}

/* INTRO SECTION 'HI IM PATRICK' */

    .intro-header { 
      margin-left: 10%;
      margin-right: 10%;
      padding-top: 10%; 
      padding-bottom: 2.5%;
    }

        #hello {
        font-family: "Montserrat"; 
        font-size: 400%; 
        color: white;
        }

        #personal_statement {
        font-family: "Montserrat"; 
        font-size: 300%; 
        color: white;
        text-align: left;
        padding-top: 4.5%;
        }

        #why_im_running {
        font-family: "Montserrat"; 
        font-size: 150%; 
        color: white;
        text-align: left;
        padding-top: 4.5%;
        }
      
        .learnmore {
      /* learn more button at the bottom of the section*/
      font-family: "Montserrat"; 
      border-style: solid;
      color: white;
      padding: 1% 5%;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 150%;
      cursor: pointer;
      margin-top: 5%;
      margin-left: 2%;
      margin-bottom: 6%;
    }


    h4 {
      /* Text inside each issue box*/
    font-family: "Montserrat"; 
    font-size: 160%; 
    background-color: transparent;
    color: black;
    text-align: center;
    padding: 0px;
    margin: auto;
    margin-top: 5%;
    }

    p {
    font-family: "Montserrat"; 
    font-size: 100%; 
    color: black;
    text-align: left;
    padding: 0px;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
    padding-top: 2%;
    margin: auto;
    margin-bottom: 5%;
    justify-content: 
    }

/* CORE ISSUES SECTION */

    .grayband_section {
      background-color: #F8F8F8; /* sets background of section to gray rather than blue*/
    }

    .issues { 
      /* Holds the section title*/
      background: #F8F8F8;
      overflow: auto;
      margin-left: 10%;
      margin-right: 10%;
      padding-top: 5%; 
      height: 100%;
    }

    #core_issues {
      font-family: "Montserrat"; 
      font-size: 300%; 
      background-color: transparent;
      color: black;
      text-align: center;
      margin: auto;
      margin-bottom: 5%;
    }

    /* The following boxes hold the three focus issues*/
        #env-box { 
            float:left; 
            width:24%; 
            display: inline-block;
            margin-left: 4%;
            margin-right: 4%;
        } 
        #afh-box { 
            float:center; 
            width:24%; 
            display: inline-block;
            margin-right: 4%;
            margin-left: 5.5%;
        } 
        #st-box { 
            float:right; 
            width:24%; 
            display: inline-block;
            margin-right: 4%;
            margin-left: 4%;
        }

/* ABOUT ME SECTION */

    .aboutme { 
      /* Holds the section title*/
        overflow: auto;
        margin-left: 10%;
        margin-right: 10%;
        padding-bottom: 2%;
        padding-top: 5%;
        height:100%;
    }

      #whyimrunning {
        font-family: "Montserrat"; 
        font-size: 300%; 
        background-color: transparent;
        color: white;
        text-align: center;
        margin: auto;
        padding-top: 4.5%;
      }

      #img-abtme { 
        /* Holds the image */
          float:left; 
          width:28%; 
          background-color: transparent; 
          display: flex;
          height: auto;
          margin-bottom: 2%;
          margin-top: 2%;
      } 

      #whyme_paragraph {
        font-family: "Montserrat"; 
        font-size: 130%; 
        background-color: transparent;
        color: white;
        text-align: left;
        margin: auto;
        padding-top: 4.5%;
        margin-top: 3%;
      }


/* What is the ANC Section */

      .ANC { 
        overflow: auto;
        margin-left: 10%;
        margin-right: 10%;
        padding-top: 5%; 
        padding-bottom: 4%;
        padding-left: 0%;
        padding-top: 5%;
        height: 100%;
      }

        #whatisANC {
          font-family: "Montserrat"; 
          font-size: 300%; 
          background-color: transparent;
          color: black;
          text-align: center;
          margin: auto;
          padding-top: 1.25%;
        }


        #img-anc { 
          float:left; 
          width:50%; 
          background-color: transparent; 
          display: inline-block;
          height: auto;
          margin-left: 0%;
          margin-top: 5%;
          } 

        #anc_textbox { 
          float:left; 
          width:46%; 
          background-color: transparent; 
          display: inline-block;
          height: auto;
          margin-left: 2%;
          text-align: left; 
          margin-top: 3%;

          font-family: "Montserrat"; 
          font-size: 130%; 

          color: black;
          } 


/* Get in Touch Seection */

        .intouch { 
          overflow: auto;
          margin-left: 10%;
          margin-right: 10%;
          padding-top: 5%;
          padding-bottom: 2%;
        }

        #getintouch {
          font-family: "Montserrat"; 
          font-size: 300%; 
          background-color: transparent;
          color: white;
          text-align: center;
          margin: auto;
          padding-top: 1.25%;
        }

        #outreach_statement {
          float:left; 
          width:50%; 
          margin:auto;
          text-align: left;
          margin-bottom: 5%;
          margin-top: 5%;
          font-family: "Montserrat"; 
          font-size: 125%; 
          color: white;
          padding: 0px;
        }

        #outreach_symbols {
            float:left; 
            width:40%; 
            margin-top: 2.5%;
            margin-left: 6%;
            text-align: center;
            font-family: "Montserrat"; 
            font-size: 125%; 
            color: white;
            padding: 0px;
        }


        a#contact_links {
          color: white;
          text-decoration: none;
        }

        #envelope {
          width: 15%;
          height: auto;
          padding-bottom: 2.5%;
          padding-top: 2.5%;
        }

        #envelope:hover, a#envelope:active {
        width: 20%;
        height: auto;
        padding-bottom: 0%;
        padding-top: 0%;
        }

        #bird {
          width: 15%;
          height: auto;
          padding-bottom: 2.5%;
          padding-top: 2.5%;
        }

        #bird:hover, a#bird:active {
        width: 20%;
        height: auto;
        padding-bottom: 0%;
        padding-top: 0%;
        }



/* Donate Section */

        .donate { 
          overflow: auto;
          margin-left: 10%;
          margin-right: 10%;
          padding-bottom: 4%;
          padding-top: 1%;
          height: 100%;
        }


        #excited {
          font-family: "Montserrat"; 
          font-size: 300%; 
          color: black;
          text-align: center;
          margin: auto;
          margin-bottom: 2.5%;
          padding-top: 2.5%;
        }

        #fundingstatement {
          float:left; 
          width:50%; 
          margin:auto;
          text-align: left;
          margin-bottom: 0%;
          margin-top: 5%;
          font-family: "Montserrat"; 
          font-size: 125%; 
          color: black;
          padding: 0px;
        }

        #logobox {
            float:left; 
            width:40%; 
            margin-top: 2.5%;
            margin-left: 10%;
            text-align: center;
            font-family: "Montserrat"; 
            font-size: 125%; 
            color: white;
            padding: 0%;
        }

        #click_donate {
          font-family: "Montserrat"; 
          font-size: 100%; 
          color: white;
          text-align: center;
          margin: 0%;
          padding-bottom: 1%;
          padding-top: 1%;
          background-color: #203865;

          margin-bottom: 2%;
          margin-right: 42%;
          margin-left: 42%;
          text-decoration: none;
        }

        #click_donate:hover,  #click_donate:active,{
          font-family: "Montserrat"; 
          font-size: 100%; 
          color: black;
          text-align: center;
          margin: auto;
          padding-bottom: 5%;
          cursor: pointer;
          text-decoration: none;
        }

        a#donatehere {
          color: white;
          text-decoration: none;
        }

img {
  width: 80%;
  height: auto;
  display: flex;
  margin: auto;
  margin-top: 0px;
  padding-top: 0px;
}




/* Footer */
.footer {
    background-color: #203865;
    width: 100%;
    padding: 1%;
    margin: 2.5%;
    display: flex;
    flex-direction: row;
    margin: auto;
    color: white;
    font-family: "Montserrat";
    font-size: 30%;
    overflow: none;
}

.rightsreserved {
    padding-left: 75%;
    padding-right: 3%;
    text-align: right;
    color: white;
    margin: auto;
    font-family: "Montserrat";
    font-size: 30%;
}

.madebyAE {
    padding-left: 3%;
    background-color: transparent;
    margin: auto;
    color: white;
    font-family: "Montserrat";
    font-size: 30%;
}

        a#attributionlink {
          color: white;
          text-decoration: none;
        }


@media only screen and (max-width: 1272px) {

  #nav_2 { 
    margin-left: 4%;
  }
  #nav_3 { 
    margin-left: 4%;
  }
  #nav_4 { 
    margin-left: 4%;
  }
  #nav_5 { 
    margin-left: 4%;
  }
  #nav_6 { 
    margin-left: 4%;
  }


@media only screen and (max-width: 900px) {

      .issues { 
      /* Holds the section title*/
  background: #F8F8F8;
  overflow: none;
  border:solid transparent; 
  margin: auto;
  padding-top: 10%; 
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
    }

    .aboutme { 
      /* Holds the section title*/
        padding-top: 4%; 
    }


/* The following boxes hold the three focus issues*/
    #st-box { 
        width: 100%;
        border:solid transparent; 
        background-color: transparent;
        padding-left: 0%;
        margin-right: 0%;
        margin-left: 0%;
        overflow: none;
    } 

    #nd-box { 
        width: 100%;
        border:solid transparent; 
        background-color: transparent;
        margin-right: 0%;
        margin-left: 0%;
        overflow: none;
    } 
    #rd-box { 
        width: 100%;
        border:solid transparent; 
        background-color: transparent;
        margin-right: 0%;
        margin-left: 0%;
        overflow: none;
    }

    .navigation { /* container where site navigation buttons sit */
      text-align: center;
      color: black;
      width: 100%;
      background-color: #F8F8F8;
      padding-bottom: 2%;
      height: auto;
      z-index: 0;
    }

/*Patrick for ANC logo, top left of mobile*/
    .img_logo {
      width: 100%;
      height: 95%;
      margin: 0%;
      padding: 0%;
      margin-right: 0%;
    }

    #nav_1 { 
      width: 30%;
      height: auto;
    } 

/*Scroll button upper right corder or mobile*/
    .img_nav {
      width: 100%;
      height: auto;
      margin: 0%;
      padding: .25%;
      margin-right: 0%;
      display: inline-block;
    }

    #nav_img { 
      margin-top: 2%;
      margin-right: 3%;
      width: 10%;
      z-index: -1;
      display: inline-block;
      float: right;
    }

/*Hide navigation buttons on mobile becasue of drop down menu*/

    #nav_2 { 
      display:none;
    } 
    #nav_3 { 
      display: none;
    }
    #nav_4 { 
      display: none;
    } 
    #nav_5 { 
      display: none;
    }
    #nav_6 { 
      display: none;
    }

    #dropnav_6 { 
      display: none;
    }

   h2 {
    font-family: "Montserrat"; 
    font-size: 210%; 
    background-color: transparent;
    color: black;
    text-align: center;
    margin: auto;
    padding-top: 4.5%;
    }

    h3 {
      /* Text inside each issue box*/
    font-family: "Montserrat"; 
    font-size: 110%; 
    background-color: transparent;
    color: black;
    text-align: left;
    padding: 0px;
    margin: auto;
    margin-top: 5%;
    padding-top: 8%;
    }

img {
  width: 100%;
  height: auto;
  display: flex;
  margin: auto;
  margin-top: 0px;
  padding-top: 0px;
}

    .intro { 
      /* div that holds the entire section */
      padding-top: 18%; 

    }

    .learnmore {
      /* learn more button at the bottom of the section*/
      margin-top: 8%;
      margin-bottom: 8%;
    }

    #img-box { 
        display: none;
    } 

        #img-anc { 
      /* Holds the image */
        display: none;
    } 

    #intouch_text { 
        float:left; 
        width:100%; 
        background-color:transparent; 
        border:solid transparent; 
        margin:auto;
        display: inline-block;
        margin-left: 4%;
        margin-right: 4%;
    } 

.ANC { 
  background-color: #F8F8f8;
  overflow: auto;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 2%; 
  height: 100%;
  padding-bottom: 12%;
}

#intouch_leftbox { 
    float:left; 
    width:100%; 
    background-color:transparent; 
    border:solid transparent; 
    margin:auto;
    text-align: left;
    margin-bottom: 5%;
    margin-top: 0%;
} 

#comms_images { 
    float:left; 
    width:40%; 
    margin:auto;
    background-color:transparent; 
    border:solid transparent; 
    margin-top: 4%;
    margin-left: 30%;
    height: 100%;
    text-align: center;
    align-content: center;
}

.intouch { 
  background-color: #203865;
  overflow: auto;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 9%;
  height: auto;
  padding-bottom: 4%;
  overflow-x: hidden;
}


#drop_menu {
  width: 30%;
  border: 2.5px solid black;
  background: #203865;
  z-index: 1;
  float: right;
  color: white;
  position: fixed;
  margin-top: 4%;
  margin-left: 67%;
  font-family: "Montserrat"; 
  font-size: 110%; 
}

.ANC { 
  padding-top: 12%;
}

.intouch { 
  padding-top: 12%;
}

#footer_leftbox { 
    float:center; 
    width:100%; 
    padding-top: 0%;
    margin-bottom: 2%;
} 

.donate { 
  background-color: #F8F8F8;
  overflow: auto;
  margin-left: 10%;
  margin-right: 10%;
  height: 100%;
  align-content: space-between;
  overflow: auto;
  padding-top: 4%; 
}

#footer_rightbox { 
/*  align-content: center;*/
  justify-content: center;
  width:100%; 
  margin: 0%;
}

#footer-logo-box { 
margin-right: 20%;
margin-left: 20%;
  width: 60%; 
}
#footer-donate-box { 
    float:left; 
}


#footer-img-box { 
/*   Holds the image */
    float:left; 
} 

a#donate {
    margin-bottom: 1%;
}

    a#donate:hover, a#donate:active {
    margin-bottom: 1%;
    }


}
