/* This page is organized along two mental schemas. */
/* Material that impacts the whole page comes before material that impacts individual sections only */
/* But sections appear the order they appear on the page moving from top to bottom */




/*When margin isn't set to zero, a small line appears on the left hand side of the screen like everything has slight padding*/

body {
  margin: 0%;
}

/*Scroll behavior coherently brings the page up or down to the correct spot*/
/*The HTML background color maintains a consistent color ever if someone on a mac scrolls up or down the page too far*/
html {
  scroll-behavior: smooth;
  background-color: #F8F8F8;
}

i {
  background-color: #002b5c;
}

b {
  background-color: transparent;
  font-weight: 2;
}

/* NAVIGATION BAR */

    .btn-group button {
      background-color: #F8F8F8;
      border: transparent; /* Transparent border */
      color: black; /* Black text */
     /* padding: 10px 50px;*/ /* Some padding */
      cursor: pointer; /* Pointer/hand icon */
      float: center; /* Float the buttons side by side */
      font-family: "Fjord One"; 
    /*  font-size: 100%; */
    }

    /* Add underline on hover */
    .btn-group button:hover {
      text-decoration: underline;
    }

    .navigation { /* container where site navigation buttons sit */
/*      padding-top: 20px;
      padding-bottom: 20px;*/
    /*  font-size: 42;*/
      text-align: center;
      color: black;
      z-index: 1;
      position: fixed;
      top: 0;
      width: 100%;
      background-color: #F8F8F8;
      overflow: hidden;
    }

    .img_logo {
      width: 100%;
      height: auto;
      margin: 0%;
      padding: 0%;
      margin-right: 0%;

    }

    #nav_1 { 
      background: transparent;
      border-radius: 1%;
      color: black;
      text-decoration: none;
      cursor: pointer; /* Pointer/hand icon */
      font-family: "Montserrat"; 
      font-size: 120%; 
      margin-left: 11%;
      padding: .25%;
      background-color: #F8F8F8;
      float: left;
      margin-top: 2%;
    } 

    #nav_2 { 
      background: transparent;
      border-radius: 4px;
      color: black;
      text-decoration: none;
      cursor: pointer; /* Pointer/hand icon */
      font-family: "Montserrat"; 
      font-size: 120%; 
      margin-left: 10%;
      padding: .25%;
      background-color: #F8F8F8;
      float: left;
      margin-top: 2%;
    } 
    #nav_3 { 
      background: transparent;
      border-radius: 4px;
      color: black;
      text-decoration: none;
      cursor: pointer; /* Pointer/hand icon */
      font-family: "Montserrat"; 
      font-size: 120%; 
      margin-left: 12%;
      margin-bottom: 1%;

      background-color: #F8F8F8;
      float: left;
      display: flex;
      width: 10%;
    }
    #nav_4 { 
      background: transparent;
      border-radius: 4px;
      color: black;
      text-decoration: none;
      cursor: pointer; /* Pointer/hand icon */
      font-family: "Montserrat"; 
      font-size: 120%; 
      margin-left: 8%;
      padding: .25%;
      background-color: #F8F8F8;
      float: left;
      margin-top: 2%;
    } 
    #nav_5 { 
      background: transparent;
      border-radius: 4px;
      color: black;
      text-decoration: none;
      cursor: pointer; /* Pointer/hand icon */
      font-family: "Montserrat"; 
      font-size: 120%; 
      margin-left: 8%;
      padding: .25%;
      background-color: #F8F8F8;
      float: left;
      margin-top: 2%;
    }

    a#nav_1:hover, a#nav_1:active
    {
      background: #002b5c;
      color: white;
      border-radius: 4px;
      text-decoration: underline;
      padding: .25%;
    }
    a#nav_2:hover, a#nav_2:active
    {
      background: #002b5c;
      color: white;
      border-radius: 4px;
      text-decoration: underline;
      padding: .25%;
    }
    a#nav_4:hover, a#nav_4:active
    {
      background: #002b5c;
      color: white;
      border-radius: 4px;
      text-decoration: underline;
      padding: .25%;
    }
    a#nav_5:hover, a#nav_5:active
    {
      background: #002b5c;
      color: white;
      border-radius: 4px;
      text-decoration: underline;
      padding: .25%;
    }



/* This begins << after >> the navigation bar and is closed << after >> the footer */
.pagewidth { 
  /* width of content box remains the same, even when zoomed in or out (note that the text still spreads out as the page grows) */
  width: 100%;
  background-color: #002b5c;
}

/* INTRO SECTION 'HI IM PATRICK */


    .intro { 
      /* div that holds the entire section */
      background-color: #002b5c;
      overflow: auto;
      margin-left: 10%;
      margin-right: 10%;
      padding-top: 8%; 
      height: 100%;
    }


    h1 {
    font-family: "Montserrat"; 
    font-size: 58px; 
    background-color: #002b5c;
    color: white;
    }

    p {
      font-family: "Montserrat";
      font-size: 20px;
      margin-right: 2%;
    }

    h5 {
      font-family: "Montserrat";
      color: white;
      font-size: 42px;
      margin-right: 2%;
    }

    .learnmore {
      /* learn more button at the bottom of the section*/
      font-family: "Montserrat"; 
      background-color: #002b5c;
      border-color: white;
      border-style: solid;
      color: white;
      padding: 10px 28px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 24px;
      margin: 20px 80px;
      cursor: pointer;
    }


/* CORE ISSUES SECTION */

    .section {
      background-color: #F8F8F8;
    }

    .issues { 
    /*This div is where the navigation scrolls to and holds the header*/
      background-color: #F8F8F8;
      display: block;
      overflow: auto;
      padding-right: 4%;
      padding-left: 4%;
      padding-bottom: 0%;
      padding-top: 4%;
      border-style: solid;
      border-color: #F8F8F8;
    }

    .nested_issues { 
      /* This div holds the issue boxes */
      background-color: #F8F8F8;
      display: block;
      overflow: auto;
      text-align: center;
      padding-right: 4%;
      padding-left: 4%;
      padding-bottom: 4%;
      padding-top: 4%;
    }

/* The following boxes hold the three focus issues*/
    #st-box { 
        float:left; 
        width:30%; 
        background-color:transparent; 
        border:solid black; 
        margin:auto;
    } 
    #nd-box { 
        float:left; 
        width:30%; 
        background-color:transparent;  
        border:solid black; 
        margin-left:5%; 
        margin-right:3%;
    } 
    #rd-box { 
        float:right; 
        width:30%; 
        margin:auto;
        background-color:transparent; 
        border:solid black; 
    }


    .learnmore_small {
      /* Small learn more button inside each issue box*/
      font-family: "Montserrat"; 
      background-color: #002b5c;
      color: white;
      padding: 10px 28px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      object-position: center;
      margin-bottom: 5%;
      cursor: pointer;
    }

    h2 {
      /* Text that 'Core Issues' is written in */
    font-family: "Montserrat"; 
    font-size: 42px; 
    background-color: transparent;
    color: black;
    text-align: center;
    margin: auto;
    padding-top: 80px;
    }

    h3 {
      /* Text inside each issue box*/
    font-family: "Montserrat"; 
    font-size: 22px; 
    background-color: transparent;
    color: black;
    text-align: center;
    padding: 0px;
    margin: auto;
    margin-top: 5%;
    }

    /* Why am I running for office section*/

    .aboutme { 
      /* Holds the section title*/
      padding-top: 4%;
      background-color: #002b5c;
      display: block;
      overflow: auto;
      padding-right: 4%;
      padding-left: 4%;
      margin-top: 0px;
      padding-bottom: 0%;
      text-align: center;
    }

    .nested_aboutme { 
      /*Holds the rest of the section */
      background-color: transparent;
      display: block;
      overflow: auto;
      text-align: center;
      padding-right: 4%;
      padding-left: 4%;
      padding-bottom: 4%;
      padding-top: 0%;
    }

    #img-box { 
      /* Holds the image */
        float:left; 
        width:30%; 
        background-color: transparent; 
        display: flex;
        height: auto;
    } 


    #abtme-box { 
      /*Holds the about me text*/
        float:left; 
        width:60%; 
        background-color:transparent;  
        margin-left:5%; 
        margin-right:3%;
        padding-bottom: 2%;
    } 

    h6 {
      /* This is the text that fills the about me box*/
      font-family: "Montserrat"; 
      font-size: 16px; 
      color: white;
      text-align: left;
      padding: 0px;
      margin: 0px;
      }

h4 {
font-family: "Montserrat"; 
font-size: 16px; 
color: black;
text-align: left;
padding: 0px;
padding-right: 2%;
padding-left: 2%;
padding-bottom: 2%;
margin: auto;
margin-bottom: 5%;
}

img {
  width: 80%;
  height: auto;
  display: flex;
  margin: auto;
  margin-top: 0px;
  padding-top: 0px;
}

.ANC { 
  background-color: #F8F8f8;
  display: block;
  overflow: auto;
  padding-right: 4%;
  padding-left: 4%;
  padding-top: 4%;
  text-align: center;
}

.ANC_nested { 
  background-color: #F8F8f8;
  display: block;
  overflow: auto;
  text-align: center;
  padding-right: 4%;
  padding-left: 4%;
  padding-bottom: 4%;
}

#anc-box { 
    float:left; 
    width:90%; 
    background-color:transparent;  
    display: block;
    overflow: auto;
    padding-right: 4%;
    padding-left: 4%;
    text-align: left;
} 


.joinus { 
/*  padding-top: 90px;*/
  background-color: #002b5c;
  display: block;
  overflow: auto;
  padding-right: 4%;
  padding-left: 4%;
  padding-bottom: 4%;
}

.intouch { 
  background-color: #002b5c;
  color: white;
  display: block;
  overflow: auto;
  padding-right: 4%;
  padding-left: 4%;
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-align: center;
}


.subscribe {
  background-color: transparent;
  font-family: "Montserrat"; 
  display: block;
  overflow: auto;
  padding-right: 4%;
  padding-left: 4%;
  padding-bottom: 4%;
  text-align: left;
}

#subscribe-box { 
    float:left; 
    width:60%; 
    background-color:transparent; 
    margin:auto;
} 

#intouch-box { 
    float:right; 
    width: 40%; 
    margin:auto;
    background-color:transparent;  
}


/* Footer */
.footer-social-icons {
    background-color: transparent;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 3px;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
}

.social-icon {
    color: white;
    margin-left: 2.5px;
    margin-right: 2.5px;
    background-color: transparent;    

    padding: 0px;
    border-radius: 3px;
}

#icon {

    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 6px;
    padding-left: 6px;
    border-radius: 3px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
}

.fa-instagram:hover {
    color: #fff;
    vertical-align: middle;
    background-color: #d6249f;
    background: radial-gradient(circle at 30% 107%,
        #fdf497 0%,
        #fdf497 5%,
        #fd5949 45%,
        #d6249f 60%,
        #285aeb 90%);
}

.fa-twitter:hover {
    background-color: #00aced;
}

.fa-youtube:hover {
    background-color: #e64a41;
}

.fa-github:hover {
    background-color: #5a32a3;
}

.fa-envelope:hover {
    background-color: #f0f;
}

.fa-spotify:hover {
    background-color: #1db954;
}

.fa-reddit:hover {
    background-color: #ff5700;
}

.fa-medium:hover {
    background-color: #00ab6c;
}

.fa-telegram:hover {
    background-color: #0088cc;
}
